{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
            <div class="photo" align="center">
            {% if app.user.photo %}
                <td><img src="{{ app.user.photo }}" height="150" width="150"></td>
            {% else %}
                <td><img src="/default/default_user.png" height="150" width="150"></td>
            {% endif %}
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                    <th>Full name</th>
                    <td>{{ app.user.name }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ app.user.phone }}</td>
                </tr>
                <tr>
                    <th>Card number</th>
                    <td>{{ app.user.card }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="list-group">
        <a href="{{ path('upload_photo') }}" class="list-group-item list-group-item-success">Upload photo</a>
        <a href="{{ path('edit_profile') }}" class="list-group-item list-group-item-info">Edit profile</a>
        <a href="{{ path('reset_password') }}" class="list-group-item list-group-item-warning">Reset password</a>
        <a href="{{ path('delete_user') }}" class="list-group-item list-group-item-danger">Delete profile</a>
    </div>
</div>
{% endblock %}
